<h1>New Flight</h1>
<h3>Add a new flight:</h3>
<form action="/flights" method="post">

  <label for="new-flight-number">FLight Number:</label>
  <input id="new-flight-number" name="new-flight-number" type="text">

  <label for="new-depart-time">Departure time</label>
  <input id="new-depart-time" name="new-depart-time" type="text">

  <label for="new-depart-id">Departure ID</label>
  <input id="new-depart-id" name="new-depart-id" type="text">

  <label for="new-arrive-id">Arrival ID</label>
  <input id="new-arrive-id" name="new-arrive-id" type="text">

  <label for="new-status">Flight Status</label>
  <input id="new-status" name="new-status" type="text">

  <button type="submit">Submit</button>
</form>
