<h1>New City</h1>
<h3>Add a new City:</h3>
<form action="/cities" method="post">
  <label for="new-city">City name:</label>
  <input id="new-city" name="new-city" type="text">
  <label for="new-state">State:</label>
  <input id="new-state" name="new-state" type="text">
  <button type="submit">Submit</button>
</form>
