<h1>Cites</h1>
<ul>
@foreach(var city in Model)
{
<li>
<p>City: @city.GetCity()</p>
<p>State: @city.GetState()</p>
<!-- <p>@city.GetId()</p> -->
<a href='/flights/@city.GetId()/all/'>See flights</a>
<p>---------------------------------------</p>
</li>
}
</ul>
<a href='/cities/new'>Add city</a>
